.header {
    color: #333;
    margin-bottom: 0;
}

.desc {
    color: #6c757d;
    margin-bottom: 2em;
}

.card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    height: 100%;
}

.upload-img {
    height: 100%;
    display: grid;
    justify-items: center;
    align-content: center;
    gap: 10px;
}

#image {
    cursor: pointer;
    width: 200px;
    height: auto;
}

.content-result {
    min-height: 330px;
}

.result .placeholder {
    padding-top: 100px;
    font-size: 30px;
    line-height: 1;
    color: gray;
    text-align: center;
}

.status {
    margin-top: 5px;
}

progress {
    width: 100%;
}
.card-body{
    background-color: #fff;
    max-height: 362px;
    overflow-y: auto;
}
.ext {
    background-color: #fff;
    border: unset;
    margin-top: 2rem;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.cd {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}
.cd span,
.cd button {
    border: 0;
    border-radius: 4px;
    display: flex;
    padding: 4px;
    font-size: 13px;
    margin: 0;
}
.cd button:hover {
    background: #d1d1d1;
}
.btn-primary{
    background-color: #7191F4;
}
.btn-primary:hover{
    background-color: #93ABF7;
}